App/IndoorMappingApp/IndoorMappingApp.csproj.user
App/IndoorMappingApp/IndoorMappingApp.csproj.user
App/IndoorMappingApp/IndoorMappingApp.csproj.user
App/IndoorMappingApp/obj/Debug/net8.0-android/_Microsoft.Android.Resource.Designer.dll
App/IndoorMappingApp/obj/Debug/net8.0-android/case_map.txt
App/IndoorMappingApp/obj/Debug/net8.0-android/designtime/build.props
App/IndoorMappingApp/obj/IndoorMappingApp.csproj.nuget.g.props
/App/IndoorMappingApp/obj/Debug
App/IndoorMappingApp/.vs/IndoorMappingApp/DesignTimeBuild/.dtbcache.v2
App/IndoorMappingApp/.vs/IndoorMappingApp/DesignTimeBuild/.dtbcache.v2
App/IndoorMappingApp/.vs/IndoorMappingApp/v17/.suo
App/IndoorMappingApp/.vs/IndoorMappingApp/v17/DocumentLayout.backup.json
App/IndoorMappingApp/.vs/IndoorMappingApp/v17/DocumentLayout.json
App/IndoorMappingApp/obj/project.nuget.cache
App/IndoorMappingApp/obj/project.assets.json
App/IndoorMappingApp/IndoorMappingApp.csproj.user
App/IndoorMappingApp/.vs/IndoorMappingApp/v17/DocumentLayout.json
App/IndoorMappingApp/.vs/IndoorMappingApp/v17/DocumentLayout.backup.json
App/IndoorMappingApp/.vs/IndoorMappingApp/v17/.suo
