/App/IndoorMappingApp/.vs/IndoorMappingApp/FileContentIndex
/App/IndoorMappingApp/obj/Debug/net8.0-android/android/assets
*.dll
*.v2
*.vsidx
*.dll
*.cache
*.xml
*.xml
*.properties
*.xml
*.txt
*.cache
App/IndoorMappingApp/.vs/IndoorMappingApp/DesignTimeBuild/.dtbcache.v2
App/IndoorMappingApp/.vs/IndoorMappingApp/DesignTimeBuild/.dtbcache.v2
App/IndoorMappingApp/.vs/IndoorMappingApp/DesignTimeBuild/.dtbcache.v2
*.cache
*.json
*.targets
*.props
*.json
*.xml